.rule {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-family: monospace;
}

canvas {
            display: block;
            margin-top: 50px;
            margin-left: 500px;
        }

body {
    background: linear-gradient(to right, #5ef4ff, #3fa5ce, #081d25);
}

.rule::before {
    content: '................................................................................................................................................................';
    display: block;
    color: crimson;
    line-height: 5px;
    font-size: 10px;
}

.rule::after {
    content: '................................................................................................................................................................';
    display: block;
    color: crimson;
    line-height: 5px;
    font-size: 10px;
}